@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #ffb400;
}
body {
  /* background-color: #151515; */
  height: 200vh;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

/*samall*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/*larg*/
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}

/*end of global rules*/

/* start aside section */

aside {
  width: 300px;
  height: 95.9vh;
  background-color: #222222;
  padding: 25px 15px 15px 15px;
  display: flex;
  /*justify-content: center;
    */
  flex-direction: column;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 99999999;
  position: fixed;

}

aside .logo img {
  max-width: 100%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 7px solid var(--main-color);
}

aside .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  padding-bottom: 50px;
}

aside .logo p {
  color: #fff;
  font-size: 30px;
  font-family: "Solitreo", cursive;
  font-weight: bold;
}

aside .links-of-page {
  text-align: center;
}

aside .links-of-page ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

aside .links-of-page ul {
  list-style: none;
  padding: 0;
  font-family: "Solitreo", cursive;
  margin-top: 130px;
}

aside .links-of-page ul li {
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

aside .links-of-page ul li i {
  color: #fff;
  padding-right: 6px;
  font-size: 20px;
}

aside .links-of-page ul li:hover {
  padding-left: 10px;
}

aside .links-of-page ul li a:hover,
aside .links-of-page ul li a:hover i {
  color: var(--main-color);
}

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(../images/bb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right .icon i {
  font-size: 25px;
  color: #fff;
  display: none;
}
@media (max-width: 800px) {
  .right .icon i {
    display: block;
  }

  aside.active {
    transform: translateX(-450px);
    -webkit-transform: translateX(-450px);
    -moz-transform: translateX(-450px);
    -ms-transform: translateX(-450px);
    -o-transform: translateX(-450px);
}

  aside {
    width: 215%;
  }

  .right .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -200px;
    top: 20px;
    z-index: 99999999999;
  }
}

.right {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 251px;
  height: 100vh;
}

.right .img {
    border: 9px solid var(--main-color);
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--main-color);
    min-width: 300px;
    max-width: 300px;
    position: absolute;
    left: 1416px;
    top: 31%;
}


.right .img img {
  width: 300px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

#type-text {
  font-size: 60px;
  font-family: "Solitreo", cursive;
  color: #fff;
  position: absolute;
  left: 500px;
  top: 40%;
  font-weight: bold;
  /* padding: 20px; */
  padding-right: 400px;
  line-height: 1.8;
  width: 800px;
}

@media (max-width: 800px) {
  #type-text {
    font-size: 45px;
    left: -111px;
    top: 13%;
    padding-right: 10px;
    text-align: center;
    padding: 20px;
  }
}

#type-text2 {
  font-size: 20px;
  font-family: "Solitreo", cursive;
  color: var(--main-color);
  /* position: absolute;
	left: -567px;
	top: 66%; */
  font-weight: bold;
  /* padding: 20px; */
  padding: 42px;
}

@media (max-width: 800px) {
  #type-text2 {
    font-size: 20px;
    /* left: -141px;
		top: 60%; */
    /* padding-right: 5px; */
    text-align: center;
  }

  .right .img {
    display: none;
  }

  
aside {
  position: relative;
}
#type-text {
  width: auto;
}

.right {
  height: fit-content;
}


}
