@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #ffb400;
  --p-color: #555;
}
body {
  /* background-color: #151515; */
  /* height: 2000vh; */
  font-family: "Solitreo", cursive;
  flex-wrap: wrap;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

/*samall*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/*larg*/
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}

/*end of global rules*/

/* start aside section */

aside {
  width: 300px;
  height: 95.9vh;
  background-color: #222222;
  padding: 25px 15px 15px 15px;
  display: flex;
  /*justify-content: center;
    */
  flex-direction: column;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 99999999;
  position: fixed;
}

aside .logo img {
  max-width: 100%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 7px solid var(--main-color);
}

aside .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  padding-bottom: 50px;
}

aside .logo p {
  color: #fff;
  font-size: 30px;
  font-family: "Solitreo", cursive;
  font-weight: bold;
}

aside .links-of-page {
  text-align: center;
}

aside .links-of-page ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

aside .links-of-page ul {
  list-style: none;
  padding: 0;
  font-family: "Solitreo", cursive;
  margin-top: 130px;
}

aside .links-of-page ul li {
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

aside .links-of-page ul li i {
  color: #fff;
  padding-right: 6px;
  font-size: 20px;
}

aside .links-of-page ul li:hover {
  padding-left: 10px;
}

aside .links-of-page ul li a:hover,
aside .links-of-page ul li a:hover i {
  color: var(--main-color);
}

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(../images/bb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right .icon i {
  font-size: 25px;
  color: #fff;
  display: none;
}
@media (max-width: 800px) {
  .right .icon i {
    display: block;
  }

  aside.active {
    transform: translateX(-450px);
    -webkit-transform: translateX(-450px);
    -moz-transform: translateX(-450px);
    -ms-transform: translateX(-450px);
    -o-transform: translateX(-450px);
  }

  aside {
    width: 215%;
  }

  .right .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -200px;
    top: 20px;
    z-index: 99999999999;
  }
}

.right {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 251px;
  height: 100vh;
}

.right .img {
  border: 9px solid var(--main-color);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--main-color);
  min-width: 300px;
  max-width: 300px;
  position: absolute;
  left: 1416px;
  top: 31%;
}

.right .img img {
  width: 300px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

#type-text {
  font-size: 60px;
  font-family: "Solitreo", cursive;
  color: #fff;
  position: absolute;
  left: 500px;
  top: 40%;
  font-weight: bold;
  /* padding: 20px; */
  padding-right: 400px;
  line-height: 1.8;
  width: 800px;
}

@media (max-width: 800px) {
  #type-text {
    font-size: 45px;
    left: -111px;
    top: 13%;
    padding-right: 10px;
    text-align: center;
    padding: 20px;
    padding-top: 110px;
  }
}

#type-text2 {
  font-size: 20px;
  font-family: "Solitreo", cursive;
  color: var(--main-color);
  /* position: absolute;
	left: -567px;
	top: 66%; */
  font-weight: bold;
  /* padding: 20px; */
  padding: 42px;
}

@media (max-width: 800px) {
  #type-text2 {
    font-size: 20px;
    /* left: -141px;
		top: 60%; */
    /* padding-right: 5px; */
    text-align: center;
  }

  .right .img {
    display: none;
  }

  aside {
    position: relative;
  }
  #type-text {
    width: auto;
  }

  .right {
    height: fit-content;
  }
}

/* start about section */
.about {
  margin-top: 50px;
}
 .container h1 {
  font-family: "Solitreo", cursive;
  font-size: 50px;
  margin-bottom: 5px;
}
.about .container h1 span {
  color: var(--main-color);
}

 .container .color {
  width: 250px;
  height: 5px;
  background-image: linear-gradient(to right, var(--main-color) 50%, #000 50%);
  display: inline-block;
  position: relative;
}

 .container .color .move {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
}

@keyframes move {
  100% {
    transform: translateX(250px);
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
  }
}
.about {
  padding-top: 30px;
}
.about .container {
  margin-right: 155px;
}
.about .container p#intro {
  color: var(--p-color);
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.about .container .skills .html {
  background-image: linear-gradient(to right, var(--main-color) 95%, #fff 5%);
}

.about .container .skills .css,
.about .container .skills .c {
  background-image: linear-gradient(to right, var(--main-color) 90%, #fff 10%);
}

.about .container .skills .js,
.about .container .skills .DS {
  background-image: linear-gradient(to right, var(--main-color) 80%, #fff 20%);
}
.about .container .skills .main {
  width: 500px;
  height: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.about .container .skills .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .container .information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.about .container .information .personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .about .container {
    margin-right: auto;
  }

  .about .container .information .personal {
    width: auto;
  }

  .about .container .information {
    display: block;
  }

  .about .container .skills .main {
    width: auto;
  }
}

.about .container .information .personal .right-personal p a {
  color: var(--p-color);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.about .container .information .personal p {
  padding: 10px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.315);
}


.about .container a#cv {
  color: #fff;
  background: var(--main-color);
  padding: 15px;
  border-radius: 25px;
  width: 200px;
  /*display: inline-block;
  *//*text-align: center;
  */display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  text-decoration: none;
  transition: 0.5s ;
  -webkit-transition: 0.5s ;
  -moz-transition: 0.5s ;
  -ms-transition: 0.5s ;
  -o-transition: 0.5s ;
  position: relative;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-top: 25px;
}

.about .container a#cv::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.about .container a#cv:hover::before {
  opacity: 1;
}

.about .container a#cv:hover {
  color: #000;
}

.about .container .education {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  gap: 40px;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about .container h3 {
  font-size: 35px;
  margin-bottom: 2px;
}
.about .container .education .amit {
  border-bottom: 1px solid #00000021;

}
.about .container .education .met {
  border-bottom: 1px solid #00000021;
  /* padding-left: 20px; */
}
.about .container .education .line {
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: #00000021;
  left: 50%;
  top:10%;
}
.about .container .education b {
  color: var(--main-color);
  font-size: 25px;
  border-bottom: 1px solid #00000021;
}


.about .container .education b span {
  color: #000;
}
.about .container .education p {
  line-height: 1.8;
  color: var(--p-color);
}
.about .container .education p::first-letter {
  font-size: 30px;
  color: var(--main-color);
  padding-right: 5px;
  font-weight: bold;
}

@media(max-width: 900px) {
  .about .container .education  {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .about .container .education .line {
    display: none;
  }
  
.about .container .education .smart {
  border-bottom: 1px solid #00000021;
}
body {
  user-select: none;
}

}

.comp .container {
  margin-right: 155px;
}
.comp .container .images .poster {
  position: relative;
}
.comp .container .images .poster img {
  max-width: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  display: inline-block;
  position: relative;
}
.comp .container .images .poster .for-img {
  position: relative;
  cursor: pointer;

}

.comp .container .images .poster .for-img .before {
  width: 100%;
  height: 97%;
  background-color: #ffb30081;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 56456456864864;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp .container .images .poster .for-img .before a {
  color: #fff;
  font-weight: bold;
font-size: 30px;
}
.comp .container .images .poster .for-img:hover .before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.comp .container .images .poster .for-img:hover::before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.comp .container .images .poster img.nasa,
.comp .container .images .poster img.ECPC ,
.comp .container .images .poster img.opet{
  height: 184px;
}
.comp .container .images .poster p  {
  color: var(--p-color);
  font-weight: bold;
text-align: center; 
}
.comp .container .images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 40px;
  background-color: #f5f5f5;
  padding: 25px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-top: 50px;
}
